
{{!-- <div class="sidebar" style="border: 2px solid black" >
  <a class="active" href="home">Home</a>
  <a href="counseling">Counseling</a>
  <a href="Praise">Praise</a>
  <a href="records">Employee Records</a>
  <a href="policy">Employee Records</a>
</div> --}}

<div class="content">
    placeholder for homepage content
</div>