<form id="writeUpForm">
    <div class="form">
        <div class="form-dialog" role="document">
            <div class="form-content">
                <div class="form-header">
                    <div>
                        <h5 class="form-title" id="writeUpformLabel">Write Up</h5>
                        <br>
                        <h6 class="form-title" id="manager">Manager: {{username}}</h6>
                    </div>
                </div>
                <div class="form-body">
                    <div class="form-group">
                        <label for="userDropdown">Select User:</label>
                        <select class="form-control" id="userDropdown">
                            <!-- Populate dropdown with users from the database -->
                            {{#each users}}
                                <option value="option{{this.id}}">{{this.username}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="checkbox1">Warning:</label>
                        <input type="radio" id="checkbox1" name="checkbox" value="Warning">
                        <label for="checkbox2">Write Up:</label>
                        <input type="radio" id="checkbox2" name="checkbox" value="Writeup">
                    </div>
                    <div class="form-group">
                        <label for="reasonDropdown">Reason:</label>
                        <select class="form-control" id="reasonDropdown">
                            <option value="Tardiness">Tardiness</option>
                            <option value="Insubordination">Insubordination</option>
                            <option value="Vulgar Language">Vulgar Language</option>
                            <option value="Incorrect Uniform">Incorrect Uniform</option>
                            <option value="No Show/Call Off">No Show/Call Off</option>
                            <option value="Poor Performance">Poor Performance</option>
                            <option value="Fraud">Fraud</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="commentsTextarea">Comments:</label>
                        <textarea class="form-control" id="commentsTextArea" rows="3"></textarea>
                    </div>
                </div>
                <div class="footer">
                    <button type="submit" class="btn btn-primary" id="submitbtn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/js/writeup.js"></script>
